//Colors
$brand: #547EBD;
$secondary: #FFAA1D;//Lila - #493BA8;
$accent: #2c3e50;
$link: #fffdf1;
$link-active: #42b983;
$shadow: #00000066;

//Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//Spacings
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-60: 60px;
$spacing-96: 96px;
